@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* color-scheme: dark; */
}
.btnShops {
    @apply py-4 px-4 rounded-md w-52 text-white text-center hover:bg-teal-700 active:bg-teal-800 active:shadow-lg transition-colors shadow-md shadow-neutral-700;
}
.btnAddToCart {
    @apply py-2 px-4 rounded-md bg-teal-600 text-white text-center hover:bg-teal-700 active:bg-teal-800 transition-colors shadow-md shadow-neutral-700 active:shadow-lg;
}
.allShops {
    @apply bg-red-400 px-2 rounded-md hover:bg-red-500 active:bg-red-600 shadow-neutral-700 shadow-md active:shadow-lg;
}